// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$mono-font-path: '~assets/fonts/RobotoMono-VariableFont_wght.ttf';
$mono-font-family: 'Roboto Mono';

$deep-purple     : #6202EE;
$deep-purple-1   : #E8E8E8;
$deep-purple-2   : #A8A5C6;
$deep-purple-3   : #BB86FC;
$deep-purple-4   : #9E54FC;
$deep-purple-5   : #7F22FD;
$deep-purple-6   : #6202EE;
$deep-purple-7   : #4B01D1;
$deep-purple-8   : #3700B3;
$deep-purple-9   : #1B1A3B;
$deep-purple-10  : #190078;

$primary         : #6202EE;
$secondary       : #9E54FC;
$accent      : #50E3C2;
$accent-1    : #50E3C2;
$accent-2    : #00C498;
// $dark        : #17163B;
// $dark-page   : #201D47;
$dark        : #1a1a1a;
$dark-page   : #141414;
$light       : #ffffff;

// $positive    : #45E521;
// $negative    : #C10015;
$negative    : #FF5252;
$info        : #31CCEC;
$warning     : #F2C037;

$text-color-1: #b1b1b1;
$text-color-2: #929292;

$bg-half-transparent: rgba(0, 0, 0, 0.1);
$bg-half-transparent-dark: rgba(255, 255, 255, 0.1);

$breadcrumbs-height: 57.59px;