// app global css in SCSS form

@font-face{
  font-family: 'Roboto Mono';
  src: url($mono-font-path)
}

body {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.body--dark {
    color: var(--q-color-font-color--dark, #{$light});
    background: var(--q-color-dark-page, #{$dark-page});
  }
}

.custom-standout {
  &.q-field--standout,
  &.q-field--standout.q-field--focused {
    .q-field__native,
    .q-field__prefix,
    .q-field__suffix,
    .q-field__prepend,
    .q-field__append,
    .q-field__input {
      color: $light;
    }
  }
}

.body--dark {
  .q-table__card {
    box-shadow: none;
  }
}

.hidden-canvas {
  position: absolute;
  width: 0;
  height: 0;
}

a:not(.q-item), .link {
  color: var(--q-color-anchor-color, #{$info});
  text-decoration: none;
  cursor: pointer;

  .body--dark & {
    color: var(--q-color-anchor-color--dark, #{$info});
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.q-card {
  .body--dark & {
    box-shadow: none;
  }
}

.vjs-tree,
.wrap {
  white-space: normal;
  word-wrap: break-word;
}

// custom vue-json-pretty style
.vjs-tree.is-mouseover {
  .body--dark & {
    background-color: $grey-9;
  }
}
.vjs-tree {
  font-size: 12px !important;
}

.q-drawer--on-top {
  z-index: 2999;
}

.sticky-header-table {
  height: 100%;
  /* height or max-height is important */

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th {
    /* bg color is important for th; just specify one */
    background-color: $light;

    .body--dark & {
      background-color: var(--q-color-dark, #{$dark});
    }
  }

  thead tr th {
    position: sticky;
    z-index: 1;
  }
  thead tr:first-child th {
    top: 0;
  }

  /* this is when the loading indicator appears */
  &.q-table--loading:not(.custom-loading) {
    /* height of all previous header rows */
    thead tr:last-child th {
      top: 48px;
    }

    &.q-table--dense thead tr:last-child th {
      top: 28px;
    }
  }
}

.roboto-mono {
  font-family: $mono-font-family;
  letter-spacing: -0.12px;
}

.roboto-mono--important {
  font-family: $mono-font-family !important;
  letter-spacing: -0.12px !important;
}

.text-color-1 {
  color: $text-color-1 !important;
}

.text-color-2 {
  color: $text-color-2 !important;
}

.q-item__section--avatar {
  min-width: unset;
}

.text-positive {
  color: $positive !important;
}

.text-negative {
  color: $negative !important;
}

.flex-grow-y {
  height: 1px;
  flex-grow: 1;
}

.flex-grow-x {
  width: 1px;
  min-width: 0;
  flex: 1;
}

.break-word {
  // overflow-wrap: break-word;
  // display: inline-block;
  word-break: break-word;
}

.grid-fill-200 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: .6rem;
}

.grid-fill-270 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: .6rem;
}

.q-tab-panels.q-dark {
  background-color: var(--q-color-dark-page, $dark-page);
}

.my-col-1 {
  width: 20%;
}

.my-col-2 {
  width: 40%;
}

.my-col-3 {
  width: 60%;
}

.my-col-4 {
  width: 80%;
}

.bg-half-transparent {
  background: $bg-half-transparent !important;

  .body--dark & {
    background: $bg-half-transparent-dark !important;
  }
}

.bg-half-transparent--dark {
  background: $bg-half-transparent-dark !important;
}

.my-primary {
  background-color: $warning;

  .body--dark & {
    background-color: $accent;
  }
}

.main-card {
  max-width: 1100px;
}

.dialog-form-card {
  width: 700px;
  max-width: 80vw !important;
}

.breadcrumbs-height {
  height: $breadcrumbs-height;
}

.my-tab {
  height: $breadcrumbs-height;
  padding-left: map-get(map-get($spaces, "lg"), "x");
  padding-right: map-get(map-get($spaces, "lg"), "x");

  .q-tab__label {
    font-size: 16px;
  }
}

.my-btn.q-btn--outline .q-btn__wrapper:before,
td,
.my-gray {
  border-color: rgba($color: #000000, $alpha: .3);
  color: $grey-7;

  .body--dark & {
    border-color: rgba($color: #ffffff, $alpha: .3);
    color: $grey-5;
  }
}

.my-gray-border {
  border: 1px solid rgba($color: #000000, $alpha: .3);

  .body--dark & {
    border-color: rgba($color: #ffffff, $alpha: .3);
  }
}

.black-white {
  color: #000;
  .body--dark & {
    color: #fff;
  }
}

.px-38 {
  padding-left: 38px;
  padding-right: 38px;
}

.pl-38 {
  padding-left: 38px;
}

.pr-38 {
  padding-right: 38px;
}

.py-38 {
  padding-top: 38px;
  padding-bottom: 38px;
}

.pt-38 {
  padding-top: 38px;
}

.pb-38 {
  padding-bottom: 38px;
}

.mx-38 {
  margin-left: 38px;
  margin-right: 38px;
}

.ml-38 {
  margin-left: 38px;
}

.mr-38 {
  margin-right: 38px;
}

.my-38 {
  margin-top: 38px;
  margin-bottom: 38px;
}

.mt-38 {
  margin-top: 38px;
}

.mb-38 {
  margin-bottom: 38px;
}

.min-height-unset {
  min-height: unset;
}

.overlay {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
}